{% extends "theme.html" %}
  {% block style %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
      <link rel="stylesheet" href="../static/css/styles.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script type="text/javascript" src="../static/js/recorder.js"></script>
      <script type="text/javascript" src="../static/js/shama.js?v=1.0.1"></script>
      <style>
        .col-center-block {
          float: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .center-responsive {
          display: block;
          height: auto;
          max-width: 100%;
      }
      </style>
  {% endblock style %}

  {% block content %}
    <div id="app" class="container">

      <h1>Angry Ducks</h1>
      <p class="page-description">Speech Sentiment Text Recorder</p>

      <div class="app">
          <h3>Add new note</h3>
          <div>
            <textarea class="recognized-text" id="note-textarea" placeholder="Create new notes by voice or keyboard input..." rows="6"></textarea>
          </div>

          <p class="center-responsive">
            <a class="recorder btn btn-lg btn-info text-white" role="button">Start Recording</a>
          </p>
          <p class="center-responsive">
            <a class="sentiment btn btn-lg btn-warning text-white" @click="submit" role="button">Sentiment Now</a>
          </p>

          <div>
            <button id="save-note-btn" title="Save Note">Save Note</button>
          </div>
          <p id="recording-instructions">Press <strong>Start Recording </strong>the button and follow the prompts to give permission</p>
          <span id="showsentiment"></span>
          <h3>History</h3>
          <ul id="notes">
              <li>
                  <p class="no-notes">None</p>
              </li>
          </ul>
    </div>
    </div>
    {% endblock content %}

  {% block scripts %}

  {% endblock scripts %}



